<p id="notice"><%= notice %></p>

<p>
  <strong>Ф.И.О.:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Адресс:</strong>
  <%= @order.address %>
</p>

<p>
  <strong> email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Способ оплаты:</strong>
  <%= @order.pay_type %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
