%h1
  %center Добро пожаловать 
%table
  %tbody
    %tr
    - @products.each do |product|
      %td
        = image_tag product.photo.url(:thumb)
        = link_to product.name, product
        = link_to product.price, product 
        .price_line
        %span.price= number_to_currency(product.price)
        = button_to 'В корзину', line_items_path(product_id: product) 
             

