.middle
	.product_params
		%table
			%tbody
				%tr
					%th{colspan: "5"}
						= @product.name
				%tr
					%td.big_img{rowspan: "5"} 
						= image_tag @product.photo.url(:thumb) 
					%td.totalprice
						= @product.price 
						= "руб."

				%tr
					%td Материал:
					%td каучук
				%tr
					%td Размер:
					%td	18  5  5 см			
				%tr
					%td Вес:
					%td 200 г
				%tr
					%td Возраст:
					%td от 8 лет 

				- @product.photos.each do |photo|
					%td= image_tag photo.photo.url(:thumb)

		= form_for @line_item do |f| 
			= f.text_field :quantity
			= f.hidden_field :product_id, value: params[:id]
			= f.submit 'Добавить в корзину'
