.middle
	.product_params
		%table
			%tbody
				%tr
					%th{colspan: "5"}
						= @product.name
				%tr
					%td.big_img{rowspan: "5"} 
						= image_tag @product.photo.url(:thumb) 
					%td.totalprice
						= @product.price 
						= "руб."

				%tr
					%td Материал:
					%td каучук
				%tr
					%td Размер:
					%td	18  5  5 см			
				%tr
					%td Вес:
					%td 200 г
				%tr
					%td Возраст:
					%td от 8 лет 

				- @product.photos.each do |photo|
					%td= image_tag photo.photo.url(:thumb)

		= form_tag line_items_path, method: 'POST' do
			= hidden_field_tag 'product_id', params[:id]
			= number_field_tag 'quantity', 1, max: 99
			= submit_tag 'Отправить'

