<!DOCTYPE html>
<html>
<head>
  <title>Lunius</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</br></br></br>
</head>
<body>
  <div id="top_menu">
  <table>
  <tr>	
   <td><%= link_to 'Оплата и доставка' %> </td>
   <td><%= link_to "Гарантии"  %></td>
   <td><%= link_to "Контакты"  %></td>
   <td><%= link_to "О магазине"  %></td>
  </tr>
	</table>

  </div>
  <div id="right_menu">
  	<% @categories.each do |category| %>
  		<%= link_to category.title, category_path(category) %>  
  	<% end %> 
  </div>

<%= yield %>

  <div id="footer"> footer </div>
</body>
</html>



